<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILocalNotificationDefaultSoundName</key>
	<array>
		<string>notification.aiff</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>goglobalschool</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>goglobalschool</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Bayon-Regular.ttf</string>
		<string>Kantumruy-Regular.ttf</string>
	</array>
</dict>
</plist>
