<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> Entitlements File</key>
	<dict>
		<key>com.apple.developer.associated-domains</key>
		<array>
			<string>webcredentials:go-globalschool.com</string>
		</array>
	</dict>
	<key>AutoFill Credential Provider</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>goglobalschool</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>goglobalschool</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1031018103071-gtr9qh745ubs48cnvvp7j5gcd21hg6vr</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Bayon-Regular.ttf</string>
		<string>Kantumruy-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILocalNotificationDefaultSoundName</key>
	<array>
		<string>notification.aiff</string>
	</array>
</dict>
</plist>
