<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031018103071-gtr9qh745ubs48cnvvp7j5gcd21hg6vr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031018103071-gtr9qh745ubs48cnvvp7j5gcd21hg6vr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1031018103071-t1bliju2cdeqbbj8bcrjtr8harcvb80q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMkar5FrP270bVqwfOkDYhe9YXEKILumg</string>
	<key>GCM_SENDER_ID</key>
	<string>1031018103071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Second-dayofSwift-Testing</string>
	<key>PROJECT_ID</key>
	<string>schoolappfcm</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolappfcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031018103071:ios:9d0cb955da4f17fa63f02a</string>
</dict>
</plist>